[Unit]
Description=Omarchy Caffeine Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 /home/dan/.local/share/omarchy/bin/omarchy-caffeine.py
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target
